@use '../abstract/variaveis';
@use '../abstract/mixins';

.chamada{ 
    @include mixins.flex-j-a-g(center, center, 0);
    background-color: variaveis.$azul;
    box-shadow: 0px 0px 10px #00000063;

    div{
        @include mixins.flex-j-a-g(center, center, 0);
        padding: 10rem 0;
        flex-direction: column;
        text-align: center;

        h3,p{
            color: variaveis.$branco;
        }

        h3{
            font-size: 1rem;
        }
        p{
            font-size: 3rem ;
        }
        button{
            background-color: variaveis.$laranja;
            color: variaveis.$branco;
            font-weight: 500;
            margin-top: 2rem;

            &:hover{
                background-color: variaveis.$branco;
                color: variaveis.$azul;
            }
        }
    }
}