@use '../abstract/variaveis';
@use '../abstract/mixins';

.portfolio{

    .lista_cards{
        @include mixins.flex-j-a-g( center, center, 2rem);
        margin-top: 4rem;

        li:hover .scroll {
            display: none;
        }
        
        li{
            max-width: 250px;            
            position: relative;

            .scroll{   
                place-items: center;                 
                width: 250px;
                height: 200px;
                display: grid;
                background-color: #22222252;
                position: absolute;
                top: 0;
                left: 0;   
                
                img{
                    width: 50px;
                    animation: saltar 4s ease-in-out infinite;
                }
                @keyframes saltar {
                    0%{transform: translateY(0px);}
                    50%{transform: translateY(-20px);}
                    100%{transform: translateY(0px);}
                }
            }

            .card_img{
                height: 200px;
                overflow: hidden;
                overflow-y: scroll;
                cursor: pointer;
                
                img{
                    width: 100%;    
                }


                &::-webkit-scrollbar{
                    width: 5px;
                    border-radius: 5px;
                    background-color: variaveis.$laranja;
                }

                &::-webkit-scrollbar-thumb{
                    background-color: #ffab7a;
                    border-radius: 5px;
                }  
                
                .card_img ~ .scroll{
                    display: none;
                }
            }

            h4{
                font-size: 1.1rem;
                margin: 1rem 0;
                color: variaveis.$laranja;
                font-weight: 400;
            }

            p{
                font-size: .8rem;
                font-weight: 400;
            }

            a{
                font-size: .8rem;
                text-align: center;
                width: 100%;
                display: block;
                margin: 1rem 0;
                border: 1px solid variaveis.$laranja;
                border-radius: 20px;
                padding: .5rem;
                color: variaveis.$laranja;
            }
        }
    }
}