@media screen and (max-width: 768px) {
    
    h3{
        font-size: 1.5rem;
    }

    .cabecalho{
        padding: 5rem 1.5rem 1.5rem 1.5rem;

        &_container{
            justify-content: center;
            column-gap: 2rem;
            a{
                font-size: .8rem;
                padding: 0 !important; 
            }
        }
    }

    .cabecalho-ativo{
        padding: 1rem;
    }

    .banner{

        svg{
            height: 100px;
        }

        &_container{
            padding:5rem 0 0 0 ;
            flex-direction: column;
            gap: 4rem;

            .textos{
                width: 100%;
                h2, strong{
                    font-size: 2rem !important;
                }
            }
            .imagens{
                width: 100%;
                text-align: center;
                img{max-width: 300px;}
            }
        }
    }

    .sobre{
        &_container{

            padding: 5rem 1.5rem;

            .box{
                flex-direction: column;
                gap: 2rem;
    
                &_img, &_textos{
                    width: 100%;
                }

                img{
                    max-width: 200px;
                }
            }
        }
    }

    .chamada{
        div{
            p{
                font-size: 2rem;
            }
        }
    }

    
    .duvidas{
        padding: 5rem 1.5rem;

        
        .pergunta{
            padding: 1rem 2rem 1rem 1rem;
            height: 70px;
            h4{
                font-size: 1rem;
                &::after{
                    top: 0;
                    right: -20px;
                }
            }
        }

        .ativo{
            height: 290px !important;
        }
    }

    .contato{
        h3{
            font-size: 2rem;
        }
        p{
            font-size: .8rem;
        }
    }
    
}

