@use './fonts';
@use './mixins';
@use './variaveis';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    text-transform: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.esconder {
    @include mixins.esconderConteudo();
}

.container{
    @include mixins.container();
}

.tracinho{
    @include mixins.tracinho();
}

h2{
    @include mixins.subtitulo-maiusculo();
}

h3{
    @include mixins.titulo();
}

h4{
    font-size: 1.2rem;
    font-weight: 500;
}

p{
    @include mixins.texto();
}

strong{
    font-weight: 600;
    color: variaveis.$laranja;
}