@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  text-transform: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

.esconder {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 1.5rem;
}

.tracinho {
  margin: 0 0 1rem 35px;
  position: relative;
}
.tracinho::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fe623e;
  display: block;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}

h2 {
  color: #fe623e;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

h3 {
  margin: 1rem 0;
  font-size: 2rem;
  color: #000000;
  max-width: 700px;
  font-weight: 400;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  max-width: 700px;
  color: #000000;
  max-width: 700px;
  line-height: 1.4;
}

strong {
  font-weight: 600;
  color: #fe623e;
}

button {
  background-color: #0288ed;
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem 1rem;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}
button:hover {
  background-color: #fe623e;
}

.anima {
  transform: translateY(30px);
  opacity: 0;
  transition: 1s;
}

.anima-ativo {
  transform: translateY(0);
  opacity: 1;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  background: rgb(42, 27, 106);
  background: linear-gradient(212deg, rgb(42, 27, 106) 43%, rgb(85, 27, 130) 100%);
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 100px 1.5rem;
}
.banner svg {
  position: absolute;
  bottom: 0;
  left: -25%;
  width: calc(150% + 1.3px);
  height: 200px;
}
.banner_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}
.banner_container .textos {
  width: 60%;
}
.banner_container .textos h1 {
  color: #fe623e;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 1rem 0;
  animation: entrada 1s linear;
}
.banner_container .textos h2 {
  animation: entrada 1s linear;
  font-size: 3rem;
  color: #FFFFFF;
  text-transform: none;
  font-weight: 400;
}
.banner_container .textos h2 strong {
  font-size: 3rem;
  color: #FFFFFF;
}
.banner_container .textos blockquote {
  animation: entrada 1s linear;
  margin-top: 1rem;
}
.banner_container .textos blockquote q {
  max-width: 500px;
  display: block;
}
.banner_container .textos blockquote p {
  font-size: 0.8rem;
  margin: 5px 0;
  color: #FFFFFF;
}
.banner_container .textos a {
  display: block;
  margin: 1rem 0;
  background-color: #0288ed;
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem 1rem;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  animation: entrada 1s linear;
}
.banner_container .textos a:hover {
  background-color: #fe623e;
}
@keyframes entrada {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.banner_container .imagens {
  width: 35%;
  position: relative;
}
.banner_container .imagens div {
  width: 100%;
}
.banner_container .imagens div img {
  width: 100%;
}
.banner_container .imagens div:nth-child(1) {
  position: relative;
  z-index: 1;
}
.banner_container .imagens div:nth-child(1) img {
  animation: saltar 5s reverse linear infinite;
}
.banner_container .imagens div:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.banner_container .imagens div:nth-child(2) img {
  animation: saltar 5s ease-in-out infinite;
}
@keyframes saltar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.cabecalho {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 4rem 1.5rem;
  transition: 1s;
}
.cabecalho_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}
.cabecalho_container .logo {
  width: 150px;
}
.cabecalho_container .logo img {
  width: 100%;
}
.cabecalho_container .navegacao ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.cabecalho_container .navegacao ul a {
  display: block;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.cabecalho_container .navegacao ul a:hover {
  border-bottom: 1px solid #fe623e;
  color: #fe623e;
}

.cabecalho-ativo {
  background-color: #0288ed;
  padding: 1.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4862745098);
}

.cabecalho-ativo .navegacao ul a {
  padding-bottom: 0;
  border: none;
}

.cabecalho-ativo .navegacao ul a:hover {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.sobre_container {
  padding: 10rem 1.5rem;
}
.sobre_container .box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.sobre_container .box_img {
  display: grid;
  place-items: center;
  width: 40%;
}
.sobre_container .box_img img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4117647059);
}
.sobre_container .box_textos {
  width: 55%;
}
.sobre_container .box_textos .redes-sociais {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sobre_container .box_textos .redes-sociais__item a {
  display: block;
  font-size: 1px;
}

.portfolio .lista_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.portfolio .lista_cards li:hover .scroll {
  display: none;
}
.portfolio .lista_cards li {
  max-width: 250px;
  position: relative;
}
.portfolio .lista_cards li .scroll {
  place-items: center;
  width: 250px;
  height: 200px;
  display: grid;
  background-color: rgba(0, 0, 0, 0.3215686275);
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio .lista_cards li .scroll img {
  width: 50px;
  animation: saltar 2s linear infinite;
}
@keyframes saltar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.portfolio .lista_cards li .card_img {
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  cursor: pointer;
}
.portfolio .lista_cards li .card_img img {
  width: 100%;
}
.portfolio .lista_cards li .card_img::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background-color: #fe623e;
}
.portfolio .lista_cards li .card_img::-webkit-scrollbar-thumb {
  background-color: #ffab7a;
  border-radius: 5px;
}
.portfolio .lista_cards li .card_img .card_img ~ .scroll {
  display: none;
}
.portfolio .lista_cards li h4 {
  font-size: 1.1rem;
  margin: 1rem 0;
  color: #fe623e;
  font-weight: 400;
}
.portfolio .lista_cards li p {
  font-size: 0.8rem;
  font-weight: 400;
}
.portfolio .lista_cards li a {
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  display: block;
  margin: 1rem 0;
  border: 1px solid #fe623e;
  border-radius: 20px;
  padding: 0.5rem;
  color: #fe623e;
}

.chamada {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
  align-items: center;
  background-color: #0288ed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3882352941);
}
.chamada div {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
  align-items: center;
  padding: 10rem 1.5rem;
  flex-direction: column;
  text-align: center;
}
.chamada div h3, .chamada div p {
  color: #FFFFFF;
}
.chamada div h3 {
  font-size: 1rem;
}
.chamada div p {
  font-size: 3rem;
}
.chamada div a {
  display: block;
  background-color: #fe623e;
  color: #FFFFFF;
  font-weight: 500;
  margin-top: 2rem;
}
.chamada div a:hover {
  background-color: #FFFFFF;
  color: #0288ed;
}

.duvidas {
  padding: 10rem 1.5rem 0 1.5rem;
}
.duvidas ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.duvidas ul li {
  width: 100%;
  height: 60px;
  max-width: 550px;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
}
.duvidas ul li h4 {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #f2f2f2;
}
.duvidas ul li h4::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -5px;
  top: 3px;
  background-image: url("../img/add.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.duvidas ul .ativo {
  height: 200px;
}
.duvidas ul .ativo:nth-child(1), .duvidas ul .ativo:nth-child(2) {
  height: 170px;
}
.duvidas ul .ativo:nth-child(3) {
  height: 150px;
}
.duvidas ul .ativo h4::after {
  animation: rodar 0.3s linear;
}
@keyframes rodar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
.duvidas ul .inativo h4::after {
  animation: fechar 0.3s linear;
}
@keyframes fechar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.contato {
  background-image: url("../img/computador.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
  position: relative;
}
.contato svg {
  position: relative;
  z-index: 1;
}
.contato::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5607843137);
}
.contato h3, .contato p, .contato a, .contato h2 {
  color: #FFFFFF;
  z-index: 1;
  position: relative;
}
.contato h3 {
  font-size: 3rem;
}
.contato a {
  background-color: #0288ed;
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem 1rem;
  border: none;
  color: #FFFFFF;
  font-weight: 400;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  display: block;
  max-width: 300px;
  margin: 1rem 0;
}
.contato a:hover {
  background-color: #fe623e;
}

.rodape {
  padding: 2rem 0;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
.rodape .wpp, .rodape .subir {
  z-index: 99;
  position: fixed;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5254901961);
  cursor: pointer;
  right: 20px;
}
.rodape .wpp {
  display: block;
  height: 50px;
  width: 50px;
  background-image: url("../img/wpp.png");
  background-position: center;
  background-size: contain;
  bottom: 20px;
  border-radius: 50%;
}
.rodape .wpp a {
  font-size: 1px;
  color: transparent;
}
.rodape .subir {
  background-color: black;
  bottom: 80px;
}
.rodape .subir .icon {
  position: relative;
  display: block;
  height: 0px;
  width: 40px;
  transition: 0.6s;
  opacity: 0;
}
.rodape .subir .icon-ativo {
  height: 40px;
  opacity: 1;
}
.rodape .subir .icon-ativo::after {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-image: url("../img/seta.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
  .cabecalho {
    padding: 5rem 1.5rem 1.5rem 1.5rem;
  }
  .cabecalho_container {
    justify-content: center;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .cabecalho_container a {
    font-size: 0.8rem;
    padding: 0 !important;
  }
  .cabecalho-ativo {
    padding: 1rem;
  }
  .banner svg {
    height: 100px;
  }
  .banner_container {
    padding: 5rem 0 0 0;
    flex-direction: column;
    gap: 4rem;
  }
  .banner_container .textos {
    width: 100%;
  }
  .banner_container .textos h2, .banner_container .textos strong {
    font-size: 2rem !important;
  }
  .banner_container .imagens {
    width: 100%;
    text-align: center;
  }
  .banner_container .imagens img {
    max-width: 300px;
  }
  .sobre_container {
    padding: 5rem 1.5rem;
  }
  .sobre_container .box {
    flex-direction: column;
    gap: 2rem;
  }
  .sobre_container .box_img, .sobre_container .box_textos {
    width: 100%;
  }
  .sobre_container .box img {
    max-width: 200px;
  }
  .chamada div p {
    font-size: 2rem;
  }
  .duvidas {
    padding: 5rem 1.5rem;
  }
  .duvidas .pergunta {
    padding: 1rem 2rem 1rem 0;
    height: 70px;
  }
  .duvidas .pergunta h4 {
    font-size: 1rem;
  }
  .duvidas .pergunta h4::after {
    top: 0;
    right: -20px;
  }
  .duvidas .ativo {
    height: 290px !important;
  }
  .contato h3 {
    font-size: 2rem;
  }
  .contato p {
    font-size: 0.8rem;
  }
  .rodape {
    padding: 1.5rem;
  }
  .rodape span {
    display: block;
    font-size: 0.8rem;
    text-align: start;
  }
  .rodape .icon {
    width: 30px !important;
  }
  .rodape .icon-ativo {
    width: 30px !important;
    height: 30px !important;
  }
}/*# sourceMappingURL=styles.css.map */